{% extends "base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container">

        <section class="contact">
            <h2>Contact Me</h2>

            <form action="#" method="post">

                <div>
                    <label for="name">Name</label><br>
                    <input type="text" id="name" name="name" required>
                </div>

                <div>
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" required>
                </div>

                <div>
                    <label for="message">Message</label><br>
                    <textarea id="message" name="message" rows="5" required></textarea>
                </div>

                <button type="submit">Send Message</button>

            </form>

        </section>

    </div>
{% endblock content %}