{% extends "base.html" %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}
    <!-- HERO SECTION -->
    <section class="hero">
        <div class="container">
            <h2>Welcome to My Personal Blog</h2>
            <p>Sharing insights on programming, system design, and real-world engineering.</p>
            <a href="{% url "articles" %}" class="cta-button">Read Latest Articles</a>
        </div>
    </section>


    <!-- CONTENT AREA -->
    <div class="container content-layout">

        <!-- ARTICLE -->
        <article class="content">

            {% for article in articles %}
                <section class="post-preview">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.description }}</p>
                    <a href="{% url "article_details" slug=article.slug %}">Read more →</a>
                </section>
            {% endfor %}

        </article>


        <!-- SIDEBAR -->
        <aside class="sidebar">

            <section class="about-widget">
                <h3>About Me</h3>
                <p>Backend engineer focused on scalable systems and clean architecture.</p>
            </section>

            <section class="categories-widget">
                <h3>Categories</h3>
                <ul>
                    <li><a href="{% url "articles" %}">Programming</a></li>
                    <li><a href="{% url "articles" %}">System Design</a></li>
                    <li><a href="{% url "articles" %}">DevOps</a></li>
                </ul>
            </section>

        </aside>

    </div>
{% endblock content %}